@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

section
{
 display: flex;
 justify-content: center;
 padding-top: 50px ;
 flex-direction: column;
 align-items: center;
 
}
header
{
  position:fixed;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgb(184, 157, 8,0.7) ;
  transition: top 0.3s;
}
header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a.active,
header ul li a:hover
{
  background: #fff;
  color: #5e6805;
}

body{
    background-color: rgb(211, 211, 211);
    position: relative;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 100px;
}

.aboutP{
  font-size: 20px;
}

.aboutH1{
  font-size: 50px;
}

.Ownersa{
  display: flex;
  position: relative;
  font-size: 30px;
  color: white;
  text-decoration: none;
  left: 10%;
  bottom: -20%;
  
}

.Owners{
  display: flex;
  position: relative;
  justify-content: left;
  height: 400px;
  width: 60%;
  background-color: black;
  left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
}

.hyperlinks{
  background-color: black;
  height: 10%;
  background-color: rgb(184, 157, 8, 0.7);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20%;
}

#discordHyper{
  height: 50px;
  width: 80px;
  position: relative;
  left: 45%;
  bottom:15px;
}

#twitterHyper{
  position: relative;
  left: 45%;
  height: 80px;
  width: 100px;
}


.pictureBox img{
  border-radius: 50%; 
  width: 35%;
  height: 35%;

}

.Ownersabc{
  display: flex;
  position: relative;
  font-size: 30px;
  color: white;
  text-decoration: none;
  left: 90%;
  bottom: -20%;
  
}

.Job{
  display: flex;
  position: relative;
  font-size: 15px;
  color: white;
  text-decoration: none;
  left: 0%;
  bottom: -20%;
    
  
}

.Joba{
  display: flex;
  position: relative;
  font-size: 15px;
  color: white;
  text-decoration: none;
  left: 90%;
  bottom: -20%;
  
}